<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Galaxy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galindo&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section id="top">
        <div class="navbar">
            <div class="nav-cart border">
                <i class="fa-solid fa-robot"></i>
                <a>AI Galaxy</a>
            </div>
       <div class="nav-addr border">
        <div class="nav-icon">
        <i class="fa-solid fa-globe"></i>
        <select>
        <option class="ad2">Location</option>
            <option>Argentina</option>
            <option>Australia</option>
            <option>Brazil</option>
            <option>Canada</option>
            <option>China</option>
            <option>France</option>
            <option>Germany</option>
            <option>India</option>
            <option>Indonesia</option>
            <option>Italy</option>
            <option>Japan</option>
            <option>Mexico</option>
            <option>Russia</option>
            <option>Saudi Arabia</option>
            <option>South Africa</option>
            <option>South Korea</option>
            <option>Spain</option>
            <option>Turkey</option>
            <option>United Kingdom</option>
            <option>United States</option>
        </select>
    </div>
       </div>
       <div class="nav-search border">
            <input placeholder="Search for AI" class="search-input" id="searchInput">
            <div class="search-icon" id="searchIcon"> 
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div id="searchResults"></div>
        
<!-- <div class="nav-signin border">
    <p><span>Hello, User</span></p>
    <div class="nav-user">
        <i class="fa-solid fa-circle-user"></i>
        <p class="nav-sec">Account</p>
    </div>
</div> -->
 
    </div>

    <div class="space">

    </div>
</section>


    <div class="panel">
        <div class="panel-content">
            <p>Unlocking the Vast World of Artificial Intelligence: Your Gateway to Explore, Connect, and Innovate!</p>
        </div>
    </div>
    




    
<section id="1">
    <div class="panel1">
            <p>Image Generation AI</p>
    </div>

    <div class="shop-sec">
        <div class="box">
            <div class="box-con">
                <h2>DeepArt</h2>
            <div class="box-image" style="background-image: url('1.png');"></div>
            <a href="https://deepart.io/" target="_blank">deepart</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>Runway ML</h2>
            <div class="box-image" style="background-image: url('2.png');"></div>
            <a href="https://runwayml.com/"target="_blank">Runway ML</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>Artbreeder</h2>
            <div class="box-image" style="background-image: url('3.jpg');"></div>
            <a href="https://www.artbreeder.com/"target="_blank">Artbreeder</a>
            </div>
        </div>
        <div class="box"> <div class="box-con">
            <h2>DALL-E from OpenAI</h2>
        <div class="box-image" style="background-image: url('4.png');"></div>
        <a href="https://openai.com/dall-e"target="_blank">OpenAI DALL-E</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Deep Dream Generator</h2>
        <div class="box-image" style="background-image: url('5.jpg');"></div>
        <a href="https://deepdreamgenerator.com/"target="_blank">Deep Dream Generator</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>This Person Does Not Exist</h2>
        <div class="box-image" style="background-image: url('6.webp');"></div>
        <a href="https://thispersondoesnotexist.com/"target="_blank">This Person Does Not Exist</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Generated Photos</h2>
        <div class="box-image" style="background-image: url('7.png');"></div>
        <a href="https://generated.photos/"target="_blank">Generated Photos</a>
        </div>
    </div>
</section>





 




<section id="2">
<div class="panel1">
    <p>Music Generation AI</p>
</div>

<div class="shop-sec">
        <div class="box">
            <div class="box-con">
                <h2>Amper Music</h2>
                <div class="box-image" style="background-image: url('11.png');"></div>
                <a href="https://www.ampermusic.com/">Amper Music</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>Jukedeck</h2>
                <div class="box-image" style="background-image: url('12.png');"></div>
                <a href="https://www.jukedeck.com/">Jukedeck</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>AIVA</h2>
                <div class="box-image" style="background-image: url('13.jpg');"></div>
                <a href="https://www.aiva.ai/">AIVA</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>OpenAI MuseNet</h2>
                <div class="box-image" style="background-image: url('14.png');"></div>
                <a href="https://openai.com/musenet/">OpenAI MuseNet</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>Endlesss</h2>
                <div class="box-image" style="background-image: url('15.png');"></div>
                <a href="https://endlesss.fm/">Endlesss</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>AI Music</h2>
                <div class="box-image" style="background-image: url('16.webp');"></div>
                <a href="https://www.aimusic.co.uk/">AI Music</a>
            </div>
        </div>
        <div class="box">
            <div class="box-con">
                <h2>Melodrive</h2>
                <div class="box-image" style="background-image: url('17.png');"></div>
                <a href="https://melodrive.com/">Melodrive</a>
            </div>
        </div>
    </section>







<section id="3"></section>
<div class="panel1">
    <p>Video Generation AI</p>
</div>

<div class="shop-sec">
<div class="box">
    <div class="box-con">
        <h2>DeepArt</h2>
    <div class="box-image" style="background-image: url('1.png');"></div>
    <a href="https://deepart.io/" target="_blank">deepart</a>
    </div>
</div>
<div class="box">
    <div class="box-con">
        <h2>Runway ML</h2>
    <div class="box-image" style="background-image: url('2.png');"></div>
    <a href="https://runwayml.com/"target="_blank">Runway ML</a>
    </div>
</div>
<div class="box">
    <div class="box-con">
        <h2>Artbreeder</h2>
    <div class="box-image" style="background-image: url('3.jpg');"></div>
    <a href="https://www.artbreeder.com/"target="_blank">Artbreeder</a>
    </div>
</div>
<div class="box">
<div class="box-con">
    <h2>Deep Dream Generator</h2>
<div class="box-image" style="background-image: url('5.jpg');"></div>
<a href="https://deepdreamgenerator.com/"target="_blank">Deep Dream Generator</a>
</div>
</div>
<div class="box">
<div class="box-con">
    <h2>This Person Does Not Exist</h2>
<div class="box-image" style="background-image: url('6.webp');"></div>
<a href="https://thispersondoesnotexist.com/"target="_blank">This Person Does Not Exist</a>
</div>
</div>
<div class="box">
<div class="box-con">
    <h2>Generated Photos</h2>
<div class="box-image" style="background-image: url('7.png');"></div>
<a href="https://generated.photos/"target="_blank">Generated Photos</a>
</div>
</div>











<section id="4"></section>
<div class="panel1">
    <p>Content Creation AI</p>
</div>

<div class="shop-sec">
    <div class="box">
        <div class="box-con">
            <h2>Copy.ai</h2>
            <div class="box-image" style="background-image: url('a.jpg');"></div>
            <a href="https://www.copy.ai/" target="_blank">Copy.ai</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Writesonic</h2>
            <div class="box-image" style="background-image: url('b.jpg');"></div>
            <a href="https://www.writesonic.com/" target="_blank">Writesonic</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>ShortlyAI</h2>
            <div class="box-image" style="background-image: url('c.png');"></div>
            <a href="https://www.shortlyai.com/" target="_blank">ShortlyAI</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Jasper</h2>
            <div class="box-image" style="background-image: url('d.webp');"></div>
            <a href="https://www.jasper.ai/" target="_blank">Jasper</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>BCopySmith</h2>
            <div class="box-image" style="background-image: url('e.png');"></div>
            <a href="https://www.copysmith.ai/" target="_blank">CopySmith</a>
        </div>
    </div>









    <section id="5"></section>
<div class="panel1">
    <p>Healthcare AI</p>
</div>

<div class="shop-sec">
    <div class="box">
        <div class="box-con">
            <h2>IBM Watson Health</h2>
            <div class="box-image" style="background-image: url('z.jpg');"></div>
            <a href="https://www.ibm.com/watson/health" target="_blank">IBM Watson Health</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Google Health</h2>
            <div class="box-image" style="background-image: url('x.jpg');"></div>
            <a href="https://health.google/" target="_blank">Google Health</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Ada Health</h2>
            <div class="box-image" style="background-image: url('y.png');"></div>
            <a href="https://ada.com/" target="_blank">Ada Health</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Olive</h2>
            <div class="box-image" style="background-image: url('q.jpg');"></div>
            <a href="https://oliveai.com/" target="_blank">Olive</a>
        </div>
    </div>
    <div class="box">
        <div class="box-con">
            <h2>Health Catalyst</h2>
            <div class="box-image" style="background-image: url('w.webp');"></div>
            <a href="https://www.healthcatalyst.com/" target="_blank">Health Catalyst</a>
        </div>
    </div>






    <footer>

        <div class="foot-panelx">
         </div>
        <div class="foot-panel2">
           <ul>
            <a href="#1">Image Generation AI</a>
            <a>Runway ML</a>
            <a>Artbreeder</a>
            <a>Deep Dream Generator</a>
            <a>Generated Photos</a>
            <a>DeepArt</a>
            <a>This Person Does Not Exist</a> 
            <a>DALL-E from OpenAI</a>
           </ul>
           <ul>
               <a href="#2">Music Generation AI</a>
               <a>Amper Music</a>
               <a>Jukedeck</a>
               <a>AIVA</a>
               <a>OpenAI MuseNet</a>
               <a>Endlesss</a>
               <a>AI Music</a>
               <a>Melodrive</a>
               <a>Groove Pizza</a>                             
              </ul>
              <ul>
               <a href="#3">Video Generation AI</a>
               <a>Runway ML</a>
               <a>Artbreeder</a>
               <a>Deep Dream Generator</a>
               <a>Generated Photos</a>
               <a>DeepArt</a>
               <a>This Person Does Not Exist</a>                              
              </ul>
              <ul>
               <a href="#4">Content Creation AI</a>
               <a>Copy.ai</a>
               <a>Writesonic</a>
               <a>ShortlyAI</a>
               <a>Jasper</a>
               <a>CopySmith</a>                            
              </ul>
              <ul>
                <a href="#5">Healthcare AI</a>
                <a>IBM Watson Health</a>
                <a>Google Health</a>
                <a>Ada Health</a>
                <a>Olive</a>
                <a>Health Catalyst</a>                              
               </ul>
        </div>

        <div class="nav-cart1">
            <i class="fa-solid fa-robot"></i>
            <a>AI Galaxy</a>
        </div>
        <div class="foot-panel1">
            <a href="#top">Back to Top</a>
         </div>
   </footer>
</body>
</html>